@use 'reset';

#root {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: $max-width;
  min-height: 100dvh;
}

.page {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-bottom: $spacing-xl;
  padding-top: $header-height;
}

.fade-in {
  animation: fadeIn 0.2s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(0.25rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
